.THIS .loadingIndicator {
	display: none;
}

.THIS.loading .loadingIndicator {
	display: block;
}

.THIS.loading .content {
	display: none;
}

.THIS .placeholder.preview_panel_anchor .body {
	background: transparent;
}

.THIS .slds-card.householdBackground {
	background-color: #f7f9fb;
}